<!DOCTYPE html>
<html>
<head>
  <title>Tony demo plugin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "tony_demo_plugin/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
